.transportations
  .admin
    .container
      %h1 Administrator
      = select_tag "city", options_for_select([ ["Miami", "miami"], ["New York City","newyorkcity"], ["Los Angeles","losangeles"]], @city)
      %ul.nav.nav-tabs
        %li{:role => "presentation"}
          %a{:href => "/admin/categories"} Categories
        %li{:role => "presentation"}
          %a{:href => "/admin/activities"} Activities
        %li{:role => "presentation"}
          %a{:href => "/admin/pages"} Pages
        %li.active{:role => "presentation"}
          %a{:href => "#"} Transportations
      %br
      %a.btn.btn-primary{href: "/admin/transportations/new"} New Transportation
      %br
      %br
      %ul
        - @transportation.each do |transportation|
          %li{data: { "transportation-id" => transportation.id}}
            = transportation.name
            %a{href: "/admin/transportations/#{transportation.id}/edit"} edit
            %a.delete-transportation{data: { "transportation-id" => transportation.id}, href: "javascript:"} Delete
