<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      User having email id <%=@subscriber.email%> has been successfully subscribed to descubriendony.com.
     </p>
  </body>
</html>
